[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/wsmoses/Tapir-Clang
[submodule "tools/polly"]
	path = tools/polly
	url = https://github.com/wsmoses/Parallel-Polly
[submodule "projects/compiler-rt"]
	path = projects/compiler-rt
	url = https://github.com/wsmoses/Tapir-compiler-rt
